@import "reset.scss";
section {
    width: 100%;
    min-height: 80vh;
}




/* @media screen and (max-width: 1281px){
    body {
        background: yellow;
        scroll-behavior: smooth;
    }
} */

body {
    .main-section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    .first-section {
      background-image: url("/assets/mastehead.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      color: white;
      

      .logo-div {
        display: flex;
        align-items: center;
        padding: 15px;
    
        .logo-img {
            width: 20px;
        }
        p {
            padding: 2px;
        }
      }

      .title-description {
          display: flex;
          flex-direction: column;
          width: 40%;

          position: absolute;
          bottom: 280px;
          left: 55px;
          h1 {
            font-size: 45px;
            padding: 3px;
          }
          p {
              line-height: -1px;
          }
        
      }
       
    }
    .second-section {
        width: 100%;
        display: flex;
        justify-content: center;

    .div-second-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(192, 192, 192);
        width: 80%;
        h2 {
            font-size: 35px;
            color: black;
            padding: 20px 0 20px 0;
        }

    }
}

    .container-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        /* padding: 50px; */
        div {
                height: 60%;
        }
        h3 {
            font-size: 30px;
            padding: 0 0 10px 0;
        }
        aside {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 20px 20px 20px 0;
            p{
                padding: 20px 20px 20px 0;
        
            }
        }
        .div-container-section {
            width: 80%;

        .design-div {
            background-color: rgb(230, 155, 160);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 40px 0 40px;
            
        }
        .built-div {
            background-color: rgb(95, 96, 125);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 40px 0 40px;

        }
        .Our-div {
            background-image: url("/assets/box-bg.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 40px 0 40px;


        }
        .sign-div {
            background-image: url("/assets/box-bg-lg.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            padding: 30px 40px 0 40px;
        }
        .perfect-div {
            background-color: rgb(149, 199, 161);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 40px 0 40px;

        }
        }
    }
    .third-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    .div-third-section {
        display: flex;
        flex-direction: column;
        color: rgb(192, 192, 192);
        width: 80%;
        h1 {
            font-size: 35px;
            color: black;
            padding: 18px;
            margin-top: 40px;
            
        }
        p {
            padding: 18px;
        } 

        }
    }
    .four-section {
        background-image: url("/assets/full-image.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        color: white;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .div-four-section {
            width: 80%;
           
            h1 {
                font-size: 55px;
                padding: 0 0 10px 0;
            }
            
            p{
                padding: 0 20px 20px 0;
        
            }
           
           
        }

        .para-and-icon {
            display: flex;
            flex-direction: row;
            align-items: center;
           /*  padding: 20px 0 20px 0; */
            p{
                padding: 20px 20px 20px 0;
            }

        }


    }

    .green-background-section {
        background-color:  rgb(149, 199, 161);
        color: white;
    }
    }
}